<div class="columns">
  <div class="column">
    <form (ngSubmit)="onSubmit()" #pedidoForm="ngForm">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="nombre">Nombre</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input id="nombre" name="nombre"
                     class="input" type="text" placeholder="Ejemplo: Juan Rosas"
                     required="required" [(ngModel)]="model.nombre" #nombre="ngModel"/>
            </div>

            <p class="help is-danger" *ngIf="!nombre.valid && !monto.pristine">
              * Campo requerido
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="monto">Monto</label>
        </div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static"> $ </a>
              </p>
              <p class="control is-expanded">
                <input id="monto" name="monto"
                       class="input" type="number" placeholder="0"
                       required [(ngModel)]="model.monto" #monto="ngModel" />
              </p>
            </div>

            <p class="help is-danger" *ngIf="!monto.valid && !monto.pristine">
              * Campo requerido
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="descuento">Descuento</label>
        </div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static"> $ </a>
              </p>
              <p class="control is-expanded">
                <input id="descuento" name="descuento"
                       class="input" type="number" placeholder="0"
                       [(ngModel)]="model.descuento"/>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" [ngClass]="{'is-loading': sendingForm}"
                      [disabled]="!pedidoForm.form.valid">
                Guardar
              </button>
            </div>

            <p class="help is-danger" *ngIf="formWasSent && pedidoForm.pristine">
              <span class="tag is-normal">
                Pedido guardado!
                <button class="delete is-small" (click)="formWasSent = false"></button>
              </span>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
